@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
}
a{
  text-decoration: none ;
  color:#000000;
  transition:0.3s; 
}
ul{
  list-style:none;
}
img{
  max-width: 100%;
}
body{
  font-family: 'Lexend', sans-serif;
  font-size:16px;
  line-height:24px; 
  background-color:#f5ebeb;
}
.container{
  width: 1170px;
  margin:auto;
}
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}



      /*---------------------------Header---------------------------*/

.header-area{
  padding:25px 0;
  transition: padding .3s;
}

.header-area.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #dacbcb;
  padding: 5px;
}

.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  /* padding-bottom: 2rem; */
} 
.logo {
  display: flex;
  align-items: center;
  position: relative; 
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 1000;
}

.logo .fa-bolt {
  color: #000000;
  font-size: 19.5px;
  position: absolute; 
  top: 60%;
  left: 100%; 
  transform: translate(-50%, -50%); 
  z-index: 1; 
}

.signature {
  width: 100px; 
  height:auto; 
  margin-right: 10px; 
}

.header ul li:first-child {
  margin-right: auto; 
}  

.header ul{
  display: flex;
  align-items: center; 
}
.header ul li{
  margin: 0 15px;
}
.header ul li a{
  text-transform: capitalize;
  display: block;
}
.header ul li a.active{
  color: #000000;
} 
.header ul li a:hover{
  color:#000000;
}
.header .menu_icon{
  color:#000000;
  font-size: 18px;
  cursor: pointer;
  display: none;
}


/*---------------------------HomePage--------------------------*/

.FirstElement{
   display:flex;
   justify-content: space-around;
   align-items: center;
   padding-top: 5rem; 
} 

.FirstElement.adjusted-padding {
  padding-top: 40px; 
}

.FirstElement .profile-photo{
  width: 200px;
  height:  200px;
  border-radius: 50%;
  overflow: hidden;
  border: 15px solid #131212;
  box-shadow: 5px 7px 25px #2c2727
}
profile-photo .img{
  height: 100%;
  width: 100%;
  transition: 0.5s;
}
.FirstElement .profile-photo img:hover{
  transform: scale(1.8);
}
.profile-text{
  max-width: 750px;
  display: flex;
  flex-direction: column;
}
.profile-text h5{
  color: #0e0d0d;
  font-size: 14px;
}
.profile-text h1{
  color: #0e0d0d;
  font-size: 3rem; 
}
.profile-text p{
  color:#0e0d0d;
}
.profile-text .social i{
  color : #0e0d0d;
  font-size: 18px;
  margin-right: 10px;
  transition: 0.5s;
}
.profile-text .social i:hover{
  color:#0e0d0d;
  transform: rotate(360deg);
}



 /*---------------------------About---------------------------*/

.about-area{
  padding-top: 130px;
  background-color: #f5ebeb;
}
.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:50px;
}
.about-content{
  flex-basis: 60%;
}
.about-content h4{
  color: #0e0d0d;
  font-size: 40px;
  line-height: 70px;
  text-transform: capitalize;
}
.about-content ul {
  color:#0e0d0d;
  text-align: justify;
}

.about-content ul li {
  list-style-type: disc;
  margin-bottom: 10px;
}

.about-skills{
  flex-basis: 35%;
}
.about-skills ul li{
  border-bottom: 1px dashed #f5ebeb;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #0e0d0d;
  font-size: 18px;
}
.about-skills ul li:last-child{
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}


/*---------------------------Button---------------------------*/

.btn-group{
  margin: 45px 0;
}
.btn-group .btn{
  border-color: #d5d5d5;
  color: #fff;
  background-color: #000000;
  padding:12px 25px;
  margin: 5px 0;
  margin-right: 7px;
  border-radius: 30px;
  border: 2px solid #e5e5e5;
  box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
}
.btn.active{
  border-color: #db9f9f;
}


/*---------------------------Education & Internship---------------------------*/

.education-content .row{
  display: flex;
  border-radius: 5px;
  height: 400px;
  margin-bottom: 250px;
}

.education-content .title{
  color: #000000;
}
.education-content .row .education,
.education-content .row .internship
{
  color: #0e0d0d;
  flex:0 0 50%;
  max-width: 50%;
  margin-top: 30px;
} 
.education-content  h3.title{
  font-size:24px;
  margin-bottom: 30px;
  font-weight: 700;
}
.education-content .row.timeline-box{
  flex:0 0 100%;
  max-width: 100%;  
}
.education-content .row .timeline{
  /* background-color:#e5e5e5; */
  padding: 30px 15px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  width: 100%;
  position: relative;
}
.education-content .row .timeline-item{
  position:relative;
  padding-left: 37px;
  padding-bottom: 50px; 
}
.education-content .row  .internship .timeline-item{
  position:relative;
  padding-left: 37px;
  padding-bottom: 30px; 
}
.education-content .row .timeline-item:last-child{
  padding-bottom: 0;
}
.education-content .row .timeline-item::before{
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: #020201;  
}
.education-content .row .circle-dot{
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #beb6b6;
}
.education-content .row .timeline-title  {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}
.education-content .row .internship .timeline-title  {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 8px;
}
.education-content .row .timeline-text{
  line-height: 25px;
  font-size: 16px;
  text-align: justify;
}


/* ===== SKILLS =====*/
.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
  
}
.skill title{
  margin-bottom: 60px;
  text-align: center;
}

.skill-name {
  flex-grow: 0;
}

.skill-bar {
  flex-grow: 3;
  background-color: #a59696;
  height: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.skill-progress {
  height: 100%;
  background-color: #2c2727;
  border-radius: 5px;
  border-color: #000000;
}

/*---------------------------Projects---------------------------*/
.project-content{
  padding: 90px 0;
  /* color:#fff;  */
}
.project-title{
  margin-bottom: 60px;
  text-align: center;
}
.project-title h4{
  text-transform: uppercase;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 20px;
}
.project-title p{
  color: #000000;
}
.projects{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}
.project{
    /* padding: 30px 15px; */
    color: #0e0d0d;
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    width: 100%;
    position: relative;
    padding: 25px;
    text-align: center;
    flex-basis: 32%;
    transition: .3s;
}
.project i{
  background-color: #0e0d0d;
  width: 60px;
  height: 60px;
  color: #e5e5e5;
  font-size: 26px;
  line-height: 60px;
  border-radius: 50%;
}
.project h4{
  font-size: 26px;
  text-transform: capitalize;
  margin: 20px 0;
}
.project p{
  text-align: justify;
}
.project:hover{
  border-color: #000000;
}



/*---------------------------Contact Me---------------------------*/
.contact-content{
  padding: 100px 0;
  color: #e5e5e5;
  text-align: center;
}
.contact-content .contact-title h4{
  font-size: 40px;
  text-transform: capitalize;
  color: #000000;
  padding-bottom: 10px;
}
.contact-content .contact-title p{
  padding-bottom: 20px;
}
.contact{
  max-width: 700px;
  margin: auto;
}
.contact input,.contact textarea{
  width: 100%;
  padding: 15px;
  border: 0;
  margin-bottom: 10px;
}

.contact .submit{
  width: auto;
  background-color: #d1c7c7;
  padding: 10px 40px;
  font-weight:bold ;
  font-size: 18px;
}
.contact .submit:hover{
  transform: scale(1.1);
  cursor: pointer;
}
#msg{
  color: #000000;
  font-size: 20px;
  margin-top: -8px;
  display: block;
}






/*---------------------------Footer---------------------------*/
.footer {
    max-width: 950px;
    margin: 0 auto;
    padding: 15px 0 26px;
    border-top: 1px solid rgba(19, 15, 15, 0.4); 
    color: rgba(19, 15, 15, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer .message {
    font-size: 12px;
    color: rgba(19, 15, 15, 0.4);
    margin-bottom: 10px;
  }
  
  .copyright {
    font-size: 12px;
  }




 /*------------------- Responsive Design on small screen -------------------*/

/* Medium layout */
@media only screen and (min-width:1000px) and (max-width:1200px){
  .container{
    width: 970px;
  }
}

@media(max-width:1050px){
  .FirstElement{ 
    flex-direction: column;
    padding-top: 2rem;
  }
  .profile-text{
    padding: 40px 0px;
  }
}



/* tablet layout */
@media only screen and (min-width:768px) and (max-width:999px){
  .container{
    width: 750px;
  } 
}  


/* Mobile Layout */
@media only screen and (max-width:767px){
  .container{
    width: 350px;
  }

  .header .menu_icon {
    display: block;
  }
  .header ul{
    display: none;
  }
  .header i{
    color: #030202;
  }

  .profile-text{
    width: 350px;
  }
  .FirstElement .profile-text p{
    text-align: justify;
  }
  .about{
    flex-direction: column;
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .about-skills{
    width: 100%;
    margin-top: 30px;
  }
  .education-content .row {
    flex-direction: column;
    height: auto;
    margin-bottom: 50px;
  }

  .education-content .row .education,
  .education-content .row .internship {
    flex-basis: 100%;
    max-width: 100%;
    margin-top: 30px;
  }
  .project{
    flex-basis: 100%;
    margin-bottom: 30px;
  }

}

.about{
	padding:80px 0px;
	background-color:#f5ebeb;
}

.about .content{ 
 -webkit-display: flex;
 display: flex;
}
.about .content .box{
	flex:0 0 33.33%;
	max-width: 33.33%;
	padding:15px;
}
.about .content .box .inner{
	background-color:#222222;
}
.about .content .box:nth-child(2) .inner{
	background-color: #13c1b3;
}
.about .content .box .inner .img img{
	width: 100%;
}
.about .content .box .inner .text{
	padding:30px;
}

.about .content .box .inner .text h4{
  font-size: 20px;
  margin:0;
  padding: 0px 0px 15px;
  font-weight: 500;
  color:#f5ebeb;
 text-transform: capitalize;
  text-align: center;
}
.about .content .box .inner .text p{
	font-size: 15px;
	line-height:20px;
	color:#f5ebeb;
	text-align: center;
	margin:0;
	font-family: 'Open Sans', sans-serif;
}
/*Gallery Section*/

.gallery .content{
	-webkit-display: flex;
	display: flex;
	flex-wrap: wrap;
}

.gallery .content .box{
	flex:0 0 50%;
	max-width: 33%;	
}
.gallery .content .box img{
	display: block;
	width: 100%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}
.gallery .content .box img:hover{
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

.gallery h2{
	font-size: 30px;
    font-weight: 500;
    color: #000000;
    padding: 0px 0px 20px;
    text-align: center;
}


/*Price Section*/

.price-package{
	padding: 80px 0px;
	background-color: #ffffff;
}
.price-package h2{
	font-size: 30px;
	font-weight: 500;
	color:#000000;
	padding: 0px 0px 20px;
	text-align: center;
}

.price-package .title-p{
 font-size: 15px;
 line-height: 20px;
 color:#222222;
 margin:0;
 text-align: center;
 padding:0 20% 50px;
 font-family: 'Open-sans', sans-serif;
}

.price-package .content{
	-webkit-display: flex;
	display: flex;
}
.price-package .content .box{
	flex:0 0 33.33%;
	max-width: 33.33%;
	padding: 15px;
}
.price-package .content .box .inner{
	background-color: #f0f0f0;
}
.price-package .content .box .inner .price-tag{
	padding: 15px;
	font-size: 20px;
	background-color: #13c1b3;
	color:#ffffff;
	text-align: center;
	font-weight: 700;
}
.price-package .content .box .inner .text{
	padding:30px 15px;
	text-align: center;
}
.price-package .content .box .inner .text h3{
	font-size: 24px;
	color:#222222;
	margin:0;
	padding:0px 0px 20px;
	font-weight: 700;
}
.price-package .content .box .inner .text p{
 font-size: 15px;
 line-height: 20px;
 color:#222222;
 margin:0;
 text-align: center;
 padding:0 0 5px;
 font-family: 'Open-sans', sans-serif;	
}
.price-package .content .box .inner .text .btn{
    padding: 8px 30px;
    background-color: #13c1b3;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid transparent;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    margin-top: 10px;
}
.price-package .content .box .inner .text .btn:hover{
	border-color:#222222;
	color:#222222;
	background-color: transparent;
}
.price-package .content .box .inner .img img{
	width: 100%;
}



/*Contact Section*/

.contact{
	padding:80px 0px;
	background-color: #222222;
}

.contact .content{
	-webkit-display: flex;
	display: flex;
}

.contact .content .box{
	flex:0 0 50%;
	max-width: 50%;
	padding: 15px;
}

.contact .content .form input,
.contact .content .form textarea{
 height: 45px;
 width: 100%;
 padding:6px 12px;
 margin-bottom: 25px;
 background-color: transparent;
 border:1px solid #ffffff;
 font-family: 'Open-sans',sans-serif;
 color:#ffffff;
}
.contact .content .form input:focus,
.contact .content .form textarea:focus{
 outline: none;
}
.contact .content .form input::placeholder,
.contact .content .form textarea::placeholder{
	color:#ffffff;
}
.contact .content .form textarea{
	height: 100px;
}

.contact .content .form button{
	border:none;
	outline: none;
	box-shadow: none;
	height: 45px;
	padding:0px 50px;
	border:1px solid transparent;
	background-color: #13c1b3;
	color:#ffffff;
	font-size: 15px;
	transition: all .5s ease;
	cursor: pointer;
}
.contact .content .form button:hover{
	background-color:transparent;
	color:#ffffff; 
    border-color:#ffffff;
}

.contact .content .text h2{
	font-size: 30px;
    font-weight: 500;
    color: #13c1b3;
    padding: 0px 0px 20px;
}
.contact .content .text p{
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    margin: 0;
    padding: 0px 0px 30px;
    font-family: 'Open-sans', sans-serif;
}

.contact .content .text .info ul{
	list-style: none;
	padding:0;
	margin:0;
}

.contact .content .text .info li{
	display: block;
	margin-bottom: 15px;
	color:#ffffff;
	font-size: 15px;
	letter-spacing: 1px;
	position: relative;
	padding-left: 40px;
	font-family: 'Open-Sans',sans-serif;
}
.contact .content .text .info li span{
	display: inline-block;
	position: absolute;
	left:0px;
	top:0px;
	font-size: 20px;
	color:#13c1b3;
}
.contact .content .text .social {
	padding-top: 30px;
}
.contact .content .text .social a{
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #13c1b3;
    text-decoration: none;	
    display: inline-block;
    margin-right: 10px;
    transition: all .5s ease;
    border:1px solid transparent;
} 

.contact .content .text .social a:hover{
	background-color: transparent;
    border-color: #ffffff;
}

.contact .content .text .social a span{
	color:#ffffff;
	font-size: 20px;
}

.contact .content .text .copy{
	border-top:1px solid #333333;
	margin-top: 30px;
	padding-top: 20px;
	color:#c5c5c5;
	font-size: 15px;
}




/*Responsive*/

/*if screen width is less than or equal to 991px then*/
@media(max-width: 991px){
   .home{
   	background-position: center;
   }
  .classes .content{
  	flex-wrap: wrap;
  }
 .classes .content .box {
    flex: 0 0 100%;
    max-width: 100%;
}
.classes .content .img{
	display: none;
}
.start-today .content .box{
	padding:15px;
}
}

/*if screen width is less than or equal to 767px then*/
@media(max-width: 767px){
  .home h1{
      font-size: 40px;
  }
  .about .content{
  	 flex-wrap: wrap;
  }
  .about .content .box {
    flex: 0 0 100%;
    max-width: 100%;
}
.service .content{
	flex-wrap: wrap;
}
.service .content .box {
    flex: 0 0 100%;
    max-width: 100%;
}
.classes .content .class-items .item{
	flex-wrap: wrap;
}
.classes .content .class-items .item .item-text, 
.classes .content .class-items .item .item-img {
    flex: 0 0 100%;
    max-width: 100%;
}

.start-today .content{
	flex-wrap: wrap;
}
.start-today .content .box {
    flex: 0 0 100%;
    max-width: 100%;
  }
 .gallery .content{
  flex-wrap: wrap;
 }
.gallery .content .box {
    flex: 0 0 100%;
    max-width: 100%;
}

}